<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123030089461-9unnlp1mlddv53tgotk195peo5fdkuh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123030089461-9unnlp1mlddv53tgotk195peo5fdkuh1</string>
	<key>API_KEY</key>
	<string>AIzaSyCTZ-4qZ4U6gDauxTh1CBBcZ_lonWDYaWE</string>
	<key>GCM_SENDER_ID</key>
	<string>123030089461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.utas.cis.culliem.assignment3</string>
	<key>PROJECT_ID</key>
	<string>kit305-7ab79</string>
	<key>STORAGE_BUCKET</key>
	<string>kit305-7ab79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123030089461:ios:12a5599220476a38c41fbc</string>
</dict>
</plist>